@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #fff;
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %c3;
    @extend %bsb;
    @extend %h100;
    font-size: j(36);
    padding-top: j(200);
    image{
        width: j(200);
        height: j(200);
        margin-bottom: j(30);
    }
}
.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    margin-top: j(100);
    font-size: j(30);
    background-color: #1aa2e6;
    height: j(70);
    width: j(240);
}
.null{
    @extend %df1;
}
.version{
    @extend %c9;
    font-size: j(24);
    margin-bottom: j(50);
}
